@font-face {
  font-family: latin-roman;
  src: url(../public/fonts/LatinRoman.otf) format('opentype');
}

@font-face {
  font-family: courier-prime;
  src: url(../public/fonts/CourierPrime.ttf) format('truetype');
}

/* .original-colors {
  background-color: rgb(11, 26, 0);
  color: rgb(229, 229, 229);
  .selected {
    color: rgb(251, 191, 36);
  }
} */


html,
body {
  font-family: 'latin-roman', serif;
  background-color: rgb(229, 229, 229);
  color: rgb(11, 26, 0);
  text-align: center;
  padding: 0 150px;
}

a {
  color: rgb(11, 26, 0);
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}